body{
    background-color:#f8f9fa;
}

#header{
    background-color: #e9ecef;
    padding: 5px 10px 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1{
    margin-left: 5px;
    padding: 0;
    font-family: Georgia, serif;
    font-weight: 400;
}

#navbar{
    margin-right: 20px;
    display: flex;
    gap: 10px;
}

.nav-button{
    text-decoration: none;
    color:black;
    padding: 10px;
    border-radius: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.nav-button:hover{
    background-color: white;
}

.user-name{
    margin-top: 1px;
    color:black;
    padding: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

#con{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: max-content;
    height: 50px;
}

#user-con{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.ty-container{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 200px;
    padding: 20px;
}

.action-container{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 80px;
    padding: 20px;
}

.user-action-container{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: -10px;
    padding: 20px;
}

.edit-input-container{
    margin-top: 20px;
}

.text-edit-input{
    width: 500px;
}

input[type="textarea"]{
    width: 300px;
}

.error-message{
    font-size: 12px;
    color: ;
}

.action-button{
    background-color: #faf0ca;
    width: 200px;
    height: 15px;
    padding: 1em;
    color:black;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #f4f3ee;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: -4px 7px 1px 0px #0d3b66;
}

.custom-file-upload{
    border-radius: 8px;
    border: #000000 solid 1px;
    background-color: white;
    width: 160px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.user-action-button{
    background-color: #faf0ca;
    width: 150px;
    height: 10px;
    padding: 1em;
    color:black;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #f4f3ee;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: -4px 7px 1px 0px #0d3b66;
    font-size: 12px;
}


a{
    margin-bottom: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align:center;
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
}

.users-header{
    text-align: center;
}

.profile-container{
    background-color: #f4f3ee ;
    width: max-content;
    height: max-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: #000000 solid 2px;
    box-shadow: inset;
}

.profile-upper-content{
    align-self: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 700px;
    height: max-content;
}

.profile-lower-content{
    padding: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
}

.profile-img{
    background-color: white;
    padding: 10px;
    /* width: 300px; */
    height: max-content;
    border: white solid 1px;
    border-radius: 10px;
    /* margin-right: 20px; */
}

#photoPreview{
    width: 300px;
    height: 330px;
}

.profile-details{
  
    margin-left: 10px;
    padding: 10px;
    width: 500px;
    height: 300px;
}

.prof-details-name{
    text-align: center;
    font-size: 22px;
    font-weight: 800;
}

.prof-details{
    font-size: 18px;
    font-weight: 400;
}

.prof-details-desc{
    margin-top: -10px;
    font-size: 18px;
    font-weight: 400;
    text-indent: 10px;
}


.registration-container{
    width: max-content;
    height: max-content;
    margin-top: 40px;
    padding: 15px 60px 15px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e7ecef;
    box-shadow: -4px 3px 6px 0px rgba(40,75,99,0.16);
}

.login-container{
    width: max-content;
    height: max-content;
    margin-top: 100px;
    padding: 15px 60px 15px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* justify-content: center; */
    background-color: #e7ecef;
    box-shadow: -4px 3px 6px 0px rgba(40,75,99,0.16);
}



#registrationForm{
    height: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 5px 10px 5px 10px;
}

.loginForm{
    height: 80px;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 5px 10px 5px 10px;
}

.title-text{
    /* margin-left: 70px; */
    justify-self: center;
}

.form-group{
    margin-bottom: 80px;
    height: 20px;
    width: 180px;
    font-size: 18px;
}

.form-input{
    height: 20px;
    width: 230px;
    margin-top: 20px;
    color: black;
}

.edit-input{
    width: 135px;
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid black;
    border-radius: 2px;
}

.custom-button {
    padding: 10px;
    background: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}


.form__label{
    margin-bottom:10px;
}
.form__input{
    width: 155px;
    margin-bottom:20px;
}

.edit-input-container{
    display: flex;
    flex-direction: column;
}

.ui-datepicker-trigger{
    width: 35px;
    position: absolute;
    margin-top: 32px;
    right: 38%;
    border:none;
    background: none;
}

.ui-datepicker{
    width: 100px;
    position:relative;
}

#birthdate {
    padding:10px;
}

.msg-edit-input{
    margin-top: 10px;
    width:380px;
    height: 200px;
}

.form-button{
    margin-top: 10px;
    width: max-content;
    height: max-content;
    padding: 10px 10px 10px 10px;
    color: black;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    border: black solid 1px;
    cursor: pointer;

}
.form-button:hover{
    color: black;
    background-color: #e5e5e5;
}

.login-form-button{
    width: max-content;
    height: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px;
    border-color: #023047;
    color: white;
    background-color: #8d99ae;
}

.convo-container{
    width: 100%;
    height: 200px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.convo{
    margin-top: 20px;
    border-bottom: #000000 solid 1px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.convo-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.convo-list{
    width: 100%;
    background-color: white;
    border: 1px solid #000000;
    padding: 10px;
}

.convo-content{
    display: flex;
    flex: row;
    flex-direction: space-between;
    margin-left: 0%;
}

.msg-header{
    font-size: 20px;
}

.new-message-button{
    margin-right: -10px;
    background-color: white;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.msg{
    margin-top: 20px;
    margin-left: 20px;
}

.msg-header{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
   
}

.msg-receiver-input{
    margin-top:80px;
    margin-left: 10px;
}

.msg-action-btns{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.msg-img{
 margin-left: 10px;
 margin-right: 5px;
}

.msg-input{
    width:500px;
}

.timestamp{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.message-text{
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: max-height 0.3s ease;
}

.message-text.expanded{
    max-height: none;
    white-space: normal;
    overflow: visible;
}

.show-more-msg, .show-less{
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.show-less {
    display: none;
}

.reply-form{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.flash-message{
    padding: 10px;
    margin:10px 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
}

.flash-success{
    background-color: #9ef01a;
    border: 1px solid #70e000;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.flash-error{
    background-color: #f02d3a;
    border: 1px solid #a51c30;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

.flash-info{
    background-color: skyblue;
    border: 1px solid darkblue;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.message-btns-container{
    display: flex;
    flex-direction: row;
}